/* Ininio */
#inicio{
background-color: black;
}

#personajes{
  border:4px solid red;
  width:900px;
  height:720px;
  margin-top:50px;
  margin-left:0 auto;
  background-color: white;
}

.personaje{
 
 height:200px;
 margin-left: 20px;
 margin-top: 20px;
 border: solid 4px black;
}

.personaje:hover{
	border: solid  4px red;

}

.caractersitica{
  
  position:relative;
  top:60px;
  right:130px;
  
}


#informacion{
	float: right;
	border: 3px solid black;
	position: relative;
	width: 500px;
	height: 320px;
	right: 100px;
	top: 175px;
}

#informacion p{
	margin-top: -10px;
	font-weight:bold;
	font-size: 25px;

}

#texto{
	text-align:center;
}

.descrip{
	padding-top:15px;
}

#InformacionUsuario{
	position: absolute;
	border: solid black;
	width: 300px;
	height: 200px;
	left: 1000px;
	top:280px;
	background-color: white;
	border:4px solid red;
}

#jugar{
	margin-top: 40px;
	margin-left: 100px;
}

.nombreJugador{
	margin-top:50px;
	margin-left: 30px;
}



/* Mapa1 */

#nivel{
	width:400px;
	height: 400px;
	border: solid black;
	position: absolute;
	left: 500px;
	top: 100px;
	font-size: 35px;
	background-color: red;
	color: white;
}

#nivel:hover{
	background-color: white;
	color: red;
}

#mapa {
    width: 1300px;
    height: 600px;
    border: 3px solid #000;
    position: relative;
	left: 50px;
	top: 5px;
	
}

.imagenes{
	width:50px;
	height:50px;
}

#accionesJugador{
	position:absolute;
	left:900px;
	top: 645px;
}

#cambiarNivel{
	width:400px;
	height: 400px;
	border: solid black;
	position: absolute;
	left: 500px;
	top: 100px;
	font-size: 40px;
	background-color: red;
	color: white;
}

#cambiarNivel:hover{
	background-color: white;
	color: red;
}

#derrota{
	width:400px;
	height: 400px;
	border: solid black;
	position: absolute;
	left: 500px;
	top: 100px;
	font-size: 40px;
	background-color: red;
	color: white;
}

#derrota:hover{
	background-color: white;
	color: red;
}

.imgEvento{
width:100px;
height:100px;
}

.acciones{
	width:100px;
	height:100px;
	border: solid black;
	float:left;
}

#DatosJugador{
	width:650px;
	height:150px;
	border: solid black;
	position: absolute;
	top:625px;
	left:80px;
}

#nombreJugador{
	Font-Size:20px;
}

#DatosDelJugador{
	font-size:20px;
	text-align:center;
}

#CantOro{
font-size:20px;
text-align:center;
}


#jugador {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    position: absolute;
    z-index: 10;
	left: 0px;
    top: 0px;
}

.enemigo{
	width: 50px;
    height: 50px;
    border: 1px solid #000;
}

#ene1{
    position: absolute;
    left: 100px;
    top: 500px;
}

#ene2{
    position: absolute;
    left: 800px;
    top: 500px;
}

#ene3{
    position: absolute;
    left: 900px;
    top: 0px;
}

#ene4{
    position: absolute;
    left: 1200px;
    top: 500px;
}

#boss{
    position: absolute;
	top:250px;
	left: 1200px;
	border: 1px solid #000;	
}

#imgBoos{
 width:50;
 height:50;
}


#pared1{
 background-color:black;
 height:500px;
 width:100px;
 position: absolute;
 left:500px;
}

#pelea{
background-color: black;
 width:800px;
 height:500px;
 position: relative;
 left: 80px;
 top: 50px;	 
}




#llav{
width:50px;
 height:50px;
 position: relative;
 left: 700px;
}

#llave{
width:50px;
height:50px;
}

#puert{
width:50px;
 height:50px;
 position: relative;
 top:200px;
 left: 1250px;
}

#puerta{
width:50px;
height:50px;
}


#oro1{
 position: absolute;
 top:300px;
 left:0px;
}

#oro2{
 position: absolute;
 top:0px;
 left: 450px;
}

#oro3{
 position: absolute;
 top:500px;
 left: 550px;
}

#oro4{
 position: absolute;
 left: 1000px;
  top:300px;
}

.oro{
width:50px;
height:50px;
}

#Dados{
	border:solid black;
	width:400px;
	height:400px;
	position:absolute;
	left: 950px;
	top: 60px;
}

#jugadorPelea{
 position:absolute;
 left: 100px;
 top: 50px;	 
}
#EnemigoPelea{
 position:absolute;
 left: 480px;
 top: 50px;	 
}

.peleadores{
background-color: white;
 width:200px;
 height:250px;
}
#vidaEne{ 
 position:absolute;
 left: 510px;
 top: 305px;
}

#vidaJuga{
 position:absolute;
 left: 110px;
 top: 305px;
}
#nombreJuga{
 position:absolute;
 left: 510px;
 top: 275px;
}

#nombreEne{
 position:absolute;
 left: 110px;
 top: 275px;
}

.detalle{
 color:red;
 font-size:24px; 
}

#textFinal{
font-size:30px;
}

#Final{
	width:400px;
	height: 200px;
	border: solid black;
	position: absolute;
	left: 500px;
	top: 150px;
	font-size: 40px;
	text-align:center;
}

#resultadosAtack{
	position: absolute;
	left: 50px;
	top: 200px;

}

