/* Ininio */

#personajes{
  border:4px solid black;
  width:900px;
  height:720px;
  margin-top:50px;
  margin-left:0 auto;
}

.personaje{
 
 height:200px;
 margin-left: 20px;
 margin-top: 20px;
 border: solid 4px black;
}

.personaje:hover{
	border: solid  4px red;

}

.caractersitica{
  
  position:relative;
  top:60px;
  right:130px;
  
}


#informacion{
	float: right;
	border: 3px solid black;
	position: relative;
	width: 500px;
	height: 320px;
	right: 100px;
	top: 175px;
}

#informacion p{
	margin-top: -10px;
	font-size:20px;

}

#texto{
	text-align:center;
}

.descrip{
	padding-top:15px;
}

#InformacionUsuario{
	position: absolute;
	border: solid black;
	width: 300px;
	height: 200px;
	left: 1000px;
	top:280px;
}

#jugar{
	margin-top: 40px;
	margin-left: 100px;
}

.nombreJugador{
	margin-top:50px;
	margin-left: 30px;
}



/* Mapa1 */

#mapa {
    width: 1300px;
    height: 600px;
    border: 3px solid #000;
    position: relative;
	left: 50px;
	top: 40px;
	
}

.imagenes{
	width:50px;
	height:50px;
}

#accionesJugador{
	position:absolute;
	left:900px;
	top: 670px;
}

.acciones{
	width:100px;
	height:100px;
	border: solid black;
	float:left;
}

#DatosJugador{
	width:650px;
	height:100px;
	border: solid black;
	position: absolute;
	top:670px;
	left:80px;
}

#nombreJugador{
	Font-Size:20px;
}

#DatosDelJugador{
	font-size:20px;
	text-align:center;
}

#jugador {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    position: absolute;
    z-index: 10;
	left: 0px;
    top: 0px;
}

.enemigo{
	width: 50px;
    height: 50px;
    border: 1px solid #000;
}

#goblin1{
    position: absolute;
    left: 100px;
    top: 500px;
}

#goblin2{
    position: absolute;
    left: 800px;
    top: 500px;
}

#goblin3{
    position: absolute;
    left: 900px;
    top: 0px;
}

#orco1{
    position: absolute;
    left: 1200px;
    top: 500px;
}

