#personajes{
  border:4px solid black;
  width:900px;
  height:720px;
  margin-top:50px;
  margin-left:0 auto;
}

.personaje{
 
 height:200px;
 margin-left: 20px;
 margin-top: 20px;
 border: solid 4px black;
}

.personaje:hover{
border: solid  4px red;

}

.caractersitica{
  
  position:relative;
  top:60px;
  right:130px;
  
}


#informacion{
float: right;
border: 3px solid black;
position: relative;
width: 500px;
height: 320px;
right: 100px;
top: 175px;
}

#informacion p{
margin-top: -10px;
font-size:20px;

}

#texto{
text-align:center;
}

#InformacionUsuario{
position: absolute;
border: solid black;
width: 300px;
height: 200px;
left: 1000px;
top:280px;
}

#jugar{
margin-top: 40px;
margin-left: 100px;
}

.nombreJugador{
margin-top:50px;
margin-left: 30px;
}


